/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .service-content p {
    padding: 0;
  }
  .slider-content h2 {
    font-size: 61px;
  }
  .slider-content p {
    padding-right: 76px;
  }
  .product-item h2 {
    font-size: 20px;
  }
  .product-item p {
    font-size: 13px;
  }
  .buy-now-price span {
    font-size: 28px;
  }
  .btn-orange {
    padding: 8px 17px;
    font-size: 13px;
  }
}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .slider-content h2 {
    font-size: 43px;
  }
  .slider-content p {
    padding-right: 0;
  }
  .slider-area {
    min-height: 450px;
  }
  .product-item img {
    height: 200px;
  }
  .product-item h2 {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
  }
  .product-item p {
    font-size: 14px;
  }
  .buy-now-price span {
    font-size: 20px;
  }
  .btn-orange {
    padding: 10px 15px;
    font-size: 10px;
  }
  .service-content h4 {
    font-size: 20px;
  }
  .service-content p {
    font-size: 11px;
    padding-right: 0;
  }
  .single-service img {
    margin-right: 20px;
  }
}

/* Extra small Device. */
@media (max-width: 767px) {
  a.navbar-brand img {
    width: 165px;
  }
  .slider-content h2 {
    font-size: 64px;
  }
  .slider-content p {
    padding-right: 130px;
  }
  .slider-img img {
    margin-top: 50px;
  }
  .service-content p {
    padding-right: 0;
  }
  .slider-content h2 {
    font-size: 70px;
  }
}

/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}
